@import '../../styles/settings.scss';

.favorite {
  padding: $base-size;
}

.title {
  padding: ($base-size * 3) 0;
  text-align: center;
}


.cardList {
  list-style: none;
  padding: 0;
  display: block;
  width: 400px;
  gap: 1rem; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.message {
  color: #888;
  font-size: 1.2rem;
  text-align: center;
}
